<div class="dashboard">
  <!-- <header class="dashboard-header">
    <h2>Dashboard</h2>   
  </header> -->
  
  <main class="dashboard-content">
    <div class="dashboard-cards">

      <div class="card">
        <h3>Customers</h3>
        <p>View and manage customer information</p>
        <a routerLink="/customers" class="card-link">View Customers</a>
      </div>      
      <div class="card">
        <h3>Products</h3>
        <p>View and manage product information</p>
        <a routerLink="/products" class="card-link">View Products</a>
      </div>

       <div class="card">
        <h3>Customers</h3>
        <p>View and manage customer information</p>
        <a routerLink="/customers" class="card-link">View Customers</a>
      </div>      
      <div class="card">
        <h3>Products</h3>
        <p>View and manage product information</p>
        <a routerLink="/products" class="card-link">View Products</a>
      </div>

      <div class="card">
        <h3>Customers</h3>
        <p>View and manage customer information</p>
        <a routerLink="/customers" class="card-link">View Customers</a>
      </div>      
      <div class="card">
        <h3>Products</h3>
        <p>View and manage product information</p>
        <a routerLink="/products" class="card-link">View Products</a>
      </div>

    </div>
  </main>
</div>
